<div class="home-transparent">
  <div class="home-container">
    <div class="home-bio">
      <%= image_tag('gvr-profile-photo.jpg', class: "profile-photo") %>
    </div>
    <h3 class="greeting">Hi, I'm Gale.</h3>
    <p>I was once assigned the task of memorizing a poem of my choice and I picked "The Road Less Traveled" by Robert Frost.</p>
    <blockquote>Two roads diverged in a wood, and I —
        I took the one less traveled by,
        And that has made all the difference.<p class="attribution">Robert Frost</p></blockquote>
    <p>It was my favorite poem. However, I never realized how apropos it was to my life until many years later. I definitely took the path that few dared tread.</p>
    <p>That choice has taken me down a road of uncertainty, risk, reward, trials, tribulations and even failure at times.</p>
    <p>Today, one thing is for certain.I wouldn't change it for the world!</p>
    <p>My experiences on that road have forever altered my destiny. I stand before you now ready to conquer whatever life throws my way.</p>
  </div>
</div>

<p>If you are looking for someone who is dedicated, loves web development, can learn quickly, and isn't afraid to ask questions, then you've found the right guy. I can't wait to take my game to the next level, and I plan on taking my new company there with me.</p>