<div class="home">
  <div class="home-container">
    <div class="home-bio">
      <%= image_tag('gvr-profile-photo.jpg', class: "profile-photo") %>
    </div>
    <h1 class="greeting">Hi, I'm Gale.</h1>
    <div class="main-quote"><p>I'm a problem solver and a craftsman. I love to build things and especially things on the web. I also love to learn. I'm looking for an opportunity to grow with a company. I think we should talk.</p></div>
  </div>
</div>
<div class="home-solid">
  <div class="home-container">
    <div class="home-left">
      <h1 class="home-headline">Things I've Built on the Web</h1>
      <p>I built my first two websites, MadisensMatch.com, and  Kiwanis5krun.com in 2011 with Adobe Dreamweaver.</p>
      <p>I immediately started to learn HTML5, CSS3, and Javascript. I often worked 60 hours per week at my day job and spent another 20+ hours learning to code on evenings and weekends.</p>
      <p>Along the way, I also built a Joomla blog site for Evolve Fantasy Sports and  Wordpress child theme site for my own DunkCityFL.com.</p>
      <p>Last year, I dreamed up, built, and ran an entire e-commerce t-shirt printing company called Wrap-A-Tee.com (Calusa Digi, Inc.) by myself from the ground up.</p>
      <p>My e-commerce adventure ultimately reinforced my love for visual design, web design and programming. That, in turn, led me to Dev Bootcamp and a chance to pursue my true passion.</p>
      <p>I've worked on a number of projects during and since including LightningVote.com, MISSINGlabel and my new portfolio/blog site. I'm also starting a new project called Rundeck.</p>
    </div>
    <div class="home-right">
      
    </div>

    <div class="clear"></div>
  </div>
</div>
<div class="home-transparent">
  <div class="home-container">
    <div class="home-left">

    </div>
    <div class="home-right">
      <h1 class="home-headline">Other Things I've Built</h1>
      <p>From the time I was a kid, I've always been a builder. From model rockets and model railroads to remote control cars and planes.</p>
      <p>I've continued to build things throughout my life and I often find creative solutions to problems. As an entrepreneur, I've always had to find ways to do more with less money.</p>
      <p>When I needed to raise sales, I built a sign out of wood that stood 12 feet tall in the back of a truck, and I designed my own logos and print materials for some of my business ventures.</p>
      <p>As a Graphic Designer, I always pushed the envelope of my current skill level. I once wrapped a boat for a marketing campaign despite never having done so before.</p>
      <p>Wrap-A-Tee.com was an attempt to take advantage of the relatively new process of Direct to Garment printing. When I found that I was wasting t-shirts and ink because there was no system to align the shirts properly, I designed and built my own shirt alignment table.</p>
      <p>I'm always looking for new ways to do things. I am always learning and always open to try new approaches.</p>
      
    </div>
    <div class="clear">
      
    </div>
  </div>
</div>
<div class="home-solid">
  <div class="home-container">
    
  </div>
</div>
<div class="footer-spacer"></div>