<h2>Hello World</h2>
<p>The time is now: <%= Time.now %></p>
<hr>
<%# if @user.is_admin? %>
  <h3>This is admin content</h3>
<%# end %>
<%# if @user.authenticate? %>
  <h4>This is user content</h4>
<%# end %>
<h2><%= @posts.first.title %></h2>
<p><%= @posts.first.content %></p>
