<div class="main-content">
  <article>

    <div class="headline">
      <h1>Create a New Post</h1>
      <p class="date-line"><%= Time.now.strftime("%B %d, %Y") %></p>
    </div>

    <div class="center-content">
      <div class="feature-image-spacer"></div>
      <div class="feature-image">
        <%= image_tag('nik-wallenda.jpg') %>
        <p class="feature-image-caption">This is a really cool shot of Nik Wallenda and it's a great feature image example.</p>
      </div>
      <% if current_user && current_user.role == "admin" %>
        <h3>This is admin content</h3>
        <%= render partial: "post_form", locals: {post: Post.new, button_text: "Create Post"} %>
      <% else %>
        <h3>You are not authorized for this action</h3>
        <p>Please login if you are a site administrator</p>
      <% end %> 
    </div>

    <div class="right-gutter">
      
    </div>

  </article>
</div>
<%= render partial: "layouts/bio" %>
<div class="clear-footer"></div>