
////////// COLORS

//////////

//// PRIMARY
$marsala        : #955251;
$primaryColor   : $marsala;
////

//// LINKS
$richMarsala    : #ad4540;
$linkColor      : $richMarsala;
////


$lightMarsala   : lighten( $marsala, 33% );
$mediumMarsala  : lighten( $marsala, 20% );
$darkMarsala    : darken( $marsala, 33% );

$lightGold      : #fbd379;
$lightestGold   : lighten( $lightGold, 25% );
$lighterGold    : lighten( $lightGold, 16% );
$mediumGold     : darken( $lightGold, 15% );
$gold           : darken( $lightGold, 33% );
$darkGold       : darken( $lightGold, 45%);
$darkestGold    : darken( $lightGold, 62%);

$darkestGrey    : #161616;
$textGrey   : lighten( $darkestGrey, 90% );
$lightestGrey   : lighten( $darkestGrey, 80% );
$lightGrey      : lighten( $darkestGrey, 60% );
$mediumGrey     : lighten( $darkestGrey, 33% );
$darkGrey       : lighten( $darkestGrey, 20% );
$darkerGrey     : lighten( $darkestGrey, 5% );
$black          : #000000;

///////// TEST DIVS

/////////

// .marsala {
//   background-color: $lightestGrey;
//   width: 200px;
//   height: 50px;
//   margin: 30px;
// }
// .rich-marsala {
//   background-color: $lightGrey;
//   width: 200px;
//   height: 50px;
//   margin: 30px;
// }

// .light-marsala {
//   background-color: $mediumGrey;
//   width: 200px;
//   height: 50px;
//   margin: 30px;
// }

// .medium-marsala {
//   background-color: $darkGrey;
//   width: 200px;
//   height: 50px;
//   margin: 30px;
// }

// .dark-marsala {
//   background-color: $darkestGrey;
//   width: 200px;
//   height: 50px;
//   margin: 30px;
// }

// .black {
//   background-color: black;
//   width: 400px;
//   margin: 30px;
//   padding: 30px;
//   color: white;
//   display: inline-block;
// }

// .white {
//   background-color: white;
//   width: 400px;
//   margin: 30px;
//   padding: 30px;
//   display: inline-block;
// }

////////// BODY

//////////

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: $lightestGrey;
  background-color: $black;
  background-image: image-url('final-leather-texture.png');
  background-size: cover;
  background-attachment: fixed;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: $linkColor;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
ul li ul {
  padding-left: 20px;
}

// ul li {
//   margin-left: 0;
// }

.wrapper {
  min-height:100%;
  position: relative;
}
.container {
  width: 100%;
  padding-top: 7.5%;
  // padding-bottom: 70px;
}

////////// HEADER

//////////

header {
  background-image: image-url('wood-nav-bar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -35px;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: $gold;
  box-shadow: 3px 3px 25px $black;
}

.nav-highlight {
  width: 100%;
  position: fixed;
  top: 6px;
  left: 0;
  box-shadow: 0 -5.5px 12px 1px $lightestGold;
  height: 10px;
}

.nav-highlight-rounder {
  width: 100%;
  position: fixed;
  top: -3px;
  height: 5px;
  box-shadow: 0 4px 8px 2px $lightestGold;
}

.nav-shadow {
  width: 100%;
  position: fixed;
  top: 75px;
  left: 0;
  height: 10px;
  box-shadow: 0 -7px 8px 1px $darkestGold;
}

// .logo a {
//   width: 200px;
//   overflow: hidden;
// }

// having problems with changes showing up in heroku, testing now
.logo a img {
  position: absolute;
  clip: rect(0px 425px 75px 0px);
  top: 12.5px;
  left: 15px;
  height: 50px;
}

nav {
  color: black;
  height: 75px;
  position: fixed;
  top: 0;
  right: 0;
  letter-spacing: 1px;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 75px;
  position: fixed;
  top: 0;
  right: 0;
}

nav ul li {
  display: inline-block;
  font-weight: bold;
  text-shadow: 1px 1px 1.2px $lighterGold;
  padding-left: 50px;
  height: 75px;
  line-height: 75px;
}

nav ul li a {
  text-decoration: none;
  color: $black;
}

.nav-links {
  display: inline-block;
  padding-right: 50px;
  border-right: 1px solid $darkGold;
  box-shadow: 2px -2px 2px -2px $lightestGold;
}

.login {
  display: inline-block;
  margin-right: 0;
  padding-right: 50px;
}

////////// CONTENT

//////////

.left-gutter {
  width: 13%;
  padding: 0 6.5% 3% 3%;
  display: inline-block;
  // background-color: yellow;
  color: $lightestGrey;
  height: 100%;
  float: left;
}

// .bio h3 {
//   font-family: 'Roboto Condensed', sans-serif;
// }

.bio p {
  font-weight: 300;
  font-size: .8em;
  padding-bottom: 100px;
}

.home-bio {
  width: 175px;
  height: 175px;
  margin: 0 auto;
  padding: 30px 0 40px 0;
}

.profile-photo {
  width: 125px;
  border-radius: 15px;
  box-shadow: 3px 3px 12px 3px $black;
}

.home-bio img.profile-photo {
  width: 175px;
}

.main-content {
  // width: 77.5%;
  width: 77.5%;
  display: inline-block;
  height: 100%;
}

.headline {
  position: relative;
  width: 40%;
  left: -3.5%;
  padding: 3.5% 60% 250px 3.5%;
  background-color: $marsala;
  color: white;
  -moz-border-radius-top-left: 30px;
  -webkit-border-top-left-radius: 30px;
  -khtml-border-top-left-radius: 30px;
  border-top-left-radius: 30px;
  -moz-border-radius-bottom-left: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -khtml-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.headline h1 {
  font-size: 250%;
  margin: 0 0 12px 0;
  text-shadow: 3px 3px 10px $black;
}

.greeting {
  text-align: center;
  color: $richMarsala;
  padding-bottom: 15px;
  // padding-bottom: 25px;
}

.sub-headline {
  margin-top: 0;
}

.date-line {
  font-size: 80%;
  margin: 0;
  text-shadow: 1.5px 1.5px 1px $black;
}

.center-content {
  position: relative;
  top: -150px;
  background-color: white;
  margin: 0 1% 0 1%;
  padding: 4%;
  min-height: 500px;
  float: left;
  width: 46.8%;
  color: $black;
  border-radius: 20px;
}

.center-content {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.25px;
  }
}

.center-content a {
  font-weight: bold;
}

.center-content {
  font-family: 'Lato', sans-serif;
}

.feature-image {
  position: absolute;
  left: 75%;
  top: -100px;
  width: 95%;
  background-color: $darkestGrey;
  color: $lightestGrey;
  box-shadow: 10px 8px 40px 5px $black;
}

.feature-image-caption {
  clear: both;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .8em;
  width: 90%;
  padding: 1% 5% 1% 5%;
}

.feature-image img {
  width: 100%;
  display: block;
}

.feature-image-spacer {
  display: inline-block;
  float: right;
  height: 1px;
  width: 30%;
  padding-top: 70%;
}

.left-image-wrapper {
  margin: 10% 0 15% 0;
  height: 0;
  padding-bottom: 48%;
  display: inline-block;
  width: 30%;
  position: relative;
  float: left;
  left: -10%;
  color: #e2e2e2;
}

.left-image {
  margin: 10% 0 10% 0;
  display: inline-block;
  width: 200%;
  position: absolute;
  float: left;
  left: -100%;
  top: -6%;
  background-color: #161616;
  color: #e2e2e2;
  box-shadow: 7px 6px 30px 2px black;
}

.left-image img {
  width: 100%;
  // display: block;
}

.right-image-wrapper {
  margin: 10% 0 15% 0;
  height: 0;
  padding-bottom: 72%;
  display: inline-block;
  width: 30%;
  position: relative;
  float: right;
  right: -10%;
  color: #e2e2e2;
}

.right-image {
  margin: 10% 0 10% 0;
  display: inline-block;
  width: 300%;
  position: absolute;
  float: right;
  right: -200%;
  top: -6%;
  background-color: #161616;
  color: #e2e2e2;
  box-shadow: 7px 6px 30px 2px black;
}

.right-image img {
  width: 100%;
  // display: block;
}

.gallery-thumb {
  display: block;
  width: 200px;
  margin: 15px;
}

.gallery-thumb img {
  width: 100%;
}

.images-form {
  z-index: 980;
}

.home {
  width: 100%;
  // padding-bottom: 50px;
  padding-top: 2.5%;
  padding-bottom: 8%;
}

.home-transparent, .home-solid {
  width: 100%;
  padding: 10% 0;
}
.home .home-container {
  max-width: 600px;
}

.home .home-container, .home-transparent .home-container, .home-solid .home-container {
  margin: 0 auto;
}
.home-transparent .home-container, .home-solid .home-container {
  max-width: 1000px;
  height: inherit;
  font-family: 'Lato', sans-serif;
  // letter-spacing: 1.5px;
}

.home-solid {
  width: 100%;
  // min-height: 200px;
  background-color: $darkestGrey;
}

.home-solid .home-left {
  display: inline-block;
  float: left;
  width: 48%;
  padding: 0 3.5% 3.5% 3.5%;
  height: auto;
  font-size: 90%;
  background-color: white;
  color: $black;
  border-radius: 15px;
}


.home-solid .home-right {
  display: inline-block;
  width: 38%;
  padding: 0 3.5%;
  background-color: $mediumGrey;
  min-height: 100px;
}

// .home-transparent {
//   width: 100%;
//   // min-height: 200px;
//   // background-color: $darkerGrey;
// }

.home-transparent .home-left {
  display: inline-block;
  float: left;
  width: 38%;
  padding: 0 3.5%;
  min-height: 100px;
  background-color: #ccc;
}

.home-transparent .home-right {
  display: inline-block;
  width: 48%;
  padding: 0 3.5% 3.5% 3.5%;
  background-color: white;
  min-height: 100px;
  font-size: 90%;
  color: $black;
  border-radius: 15px;
}

.home-headline {
  // color: $lightestGrey;
  color: $black;
  padding-bottom: 20px;
}

.clear {
  width: 100%;
  clear: both;
}

.attribution {
  float: right;
  font-style: italic;
}

blockquote {
  background: $lightGrey;
  color: $black;
  border-left: 10px solid #ccc;
  margin: 1.5em 40px;
  padding: 0.5em 10px 20px 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: 10px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.main-quote {
  background: $lightGrey;
  color: $black;
  border-left: 10px solid #ccc;
  margin: 1.5em 40px;
  padding: 0.5em 10px 20px 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: 10px;
  text-shadow: 0.9px 0.9px 0.8px $lightestGrey;
  box-shadow: 7px 6px 45px 15px black;
}
.main-quote:before {
  color: #ccc;
  // content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.main-quote p {
  display: inline;
}

.footer-spacer {
  height: 85px;
  width: 100%;
  clear: both;
}

////////// FOOTER

//////////

footer {
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  // margin-top: 100px;
  // padding-top: 50px;
  // padding-left: 20%;
  width: 100%;
  // background-color: $darkGrey;
}

.copyright a {
  color: $darkGrey;
  // text-shadow: 1.4px 1.3px 1.8px $black;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

