<div class="left-gutter">
  <div class="bio">
    <div class="profile-photo-wrapper">
      <%= image_tag('gvr-profile-photo.jpg', class: "profile-photo") %>
    </div>
    <div class="contact-button-wrapper">
      <div class="contact-button"><a href="mailto:galeforcevr@gmail.com:?subject=Gale's Portfolio site&body=Hi Gale, I was just taking a look at your website..."><%= image_tag('contact-button.png') %></a></div>
      <div class="social-button-bio"><a href="/connect"><%= image_tag('social-button.png') %></a></div>
    </div>
    <p>I'm an Entreprenuer and Graphic Designer turned Web Developer Craftsman. If you think that form and function are both equally important, then I think we should talk.</p>
  </div>

</div>